// WRAPPER

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 4rem var(--wrapper-margin) 0rem var(--wrapper-margin);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .watermark {
    animation-name: fadeElementAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    position: absolute;
    z-index: -2;
  }
  .container {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100% - 5rem);
    // background-color: blue;
  }
  footer {
    bottom: 3rem;
    position: absolute;
    p {
      color: var(--inactive);
    }
  }
  .shadow {
    position: absolute;
    bottom: 0;
    left: calc(var(--wrapper-margin) * -1);
    width: 100vw;
    height: 30%;
    pointer-events: none;
    background: var(--shadow);
  }
}
