.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  height: 55%;
  //   padding-bottom: 10rem;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
