.elements_container {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: var(--wrapper-margin);
  //   background: red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  .elements {
    pointer-events: all;
    margin: 1rem 0;
    cursor: pointer;
    transition: filter 0.8s;
    opacity: 1;
  }
  .elements_inactive {
    pointer-events: all;
    filter: contrast(0);
    opacity: 0.4;
    &:hover {
      filter: none;
      opacity: 1;
    }
  }
}
