nav {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  .logo {
    margin-right: 3.5rem;
    cursor: pointer;
    fill {
      &:hover {
        color: white;
      }
    }
  }
  //   background: red;
  a {
    margin-right: 3.5rem;
    &:hover::after {
      width: 2rem;
    }
    &::after {
      position: absolute;
      content: "";
      bottom: -0.4rem;
      width: 0rem;
      left: 0.05rem;
      height: 0.1rem;
      background: var(--active);
      transition: width 0.5s;
    }
  }
  p {
    // margin-top: 1.5rem;
    transform: translateY(34%);
    margin-left: auto;
    text-align: right;
  }
}
