.text_container {
  width: var(--width-text-container);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5rem;
  animation-name: fadeAnimation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  &_section {
    width: 100%;
    display: flex;
    border-left: solid 0.3rem var(--active);
    padding-left: 1.3rem;
    img {
      pointer-events: none;
      width: 10rem;
      height: 10rem;
      margin-right: 1.5rem;
      border-radius: 0.5rem;
    }
    p {
      position: relative;
      text-align: justify;
      display: block;
    }
    a {
      color: var(--active);
      font-weight: 700;
      text-transform: initial;
      letter-spacing: 0;
      display: block;
      margin-top: 0.2rem;
      transition: color 1s;
      &:hover {
        color: var(--font-color);
      }
    }
  }
  img.banner {
    margin-top: 3rem;
    width: 100%;
    border-radius: 0.5rem;
  }
}

// animation text

@keyframes fadeAnimation {
  0% {
    opacity: 0;
    // transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    // transform: translateX(0%);
  }
}
