.text_container {
  width: var(--width-text-container);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5rem;
  &_section {
    width: 100%;
    display: flex;
    border-left: solid 0.3rem var(--anemo-color);
    padding-left: 1.5rem;
    img {
      width: 10rem;
      height: 10rem;
      margin-right: 1.5rem;
      border-radius: 0.5rem;
    }
    p {
      position: relative;
      text-align: justify;
    }
    a {
      color: var(--anemo-color);
      font-weight: 700;
    }
  }
}
