.visual {
  position: relative;
  pointer-events: none;
  width: 50%;
  height: 100%;

  img.right {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  img.left {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
