.visual {
  position: relative;
  pointer-events: none;
  width: 50%;
  height: 100%;

  img.right {
    position: absolute;
    right: 50%;
    bottom: 0;
    transform: translate3d(65%, 0, 0);
  }
  img.left {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate3d(-65%, 0, 0);
  }
}