// Library

/***********
VARIABLES
***********/

:root {
  // color text
  --h1-color: white;
  --h2-color: white;
  --bg-color: black;
  --p-color: rgb(216, 216, 216);
  --inactive: rgb(73, 73, 73);

  // color elements
  --active: #54e7c0;
  --anemo-color: #54e7c0;
  --geo-color: #f1bc01;
  --electro-color: #d38ff8;
  --dendro-color: #a2ee00;
  --hydro-color: #00e7ff;
  --pyro-color: #fd6f15;
  --cryo-color: #bff5f5;

  // font size
  --h1-size: 3.6rem;
  --h2-size: 1.2rem;
  --a-size: 1.2rem;
  --p-size: 1.3rem;

  // line height
  --title-line-8: 4.5rem;
  --text-line-8: 2rem;

  // width
  --width-text-container: 70%;
  --wrapper-margin: 15rem;
  --wrapper-small-margin: 8rem;

  // shadow
  --shadow: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.light {
  --h1-color: #262626;
  --p-color: #838383;
  --bg-color: white;
}

/***********
 FONTS 
 ***********/

@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/WorkSans-Regular.woff2") format("woff2"),
    url("assets/fonts/WorkSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/WorkSans-Bold.woff2") format("woff2"),
    url("assets/fonts/WorkSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/***********
 BASE 
 ***********/
html {
  font-size: 62.5%;
  user-select: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-size: 62.5%;
  font-family: "Work Sans";
}

/***********
 TYPOGRAPHY 
 ***********/

// Title
h1 {
  font-size: var(--h1-size);
  color: var(--h1-color);
  // text-transform: uppercase;
  line-height: var(--title-line-8);
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
}

// Subtitle
h2 {
  font-size: var(--h2-size);
  color: var(--h2-color);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 200;
}

// Link
a {
  position: relative;
  font-size: var(--a-size);
  color: var(--inactive);
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 200;
  text-transform: uppercase;
  transition: color 0.5s;
  &:hover {
    color: var(--active);
  }
  &.active {
    color: var(--active);
  }
}

// body text
p {
  color: var(--p-color);
  font-size: var(--p-size);
  line-height: var(--text-line-8);
}

/***********
 ANIMATIONS 
 ***********/

@keyframes fadeElementAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes fadeCharAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes charAnimationRight {
  0% {
    transform: translate3d(25%, 0, 0);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes charAnimationLeft {
  0% {
    transform: translate3d(-25%, 0, 0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
