@media only screen and (max-width: 1400px) {
  .wrapper {
    padding: 4rem var(--wrapper-small-margin) 0rem var(--wrapper-small-margin);
    .elements_container {
      width: 8rem;
    }
  }
}

@media screen and (min-width: 1400px) {
  .wrapper {
    padding: 4rem var(--wrapper-margin) 0rem var(--wrapper-margin);
  }
}

@media only screen and (max-width: 1100px) {
  .wrapper .container .visual {
    height: 90%;
    margin-top: auto;
  }
}

@media only screen and (max-width: 950px) {
  .wrapper .container {
    .content {
      width: 80%;
    }
    .rcs-custom-scroll {
      width: 80%;
    }
    .visual {
      display: none;
    }
  }
}
